CONNECTION_STRING=Server=(localdb)\\MSSQLLocalDB;Database=AgendaCampoNovo;Trusted_Connection=True;TrustServerCertificate=True
JWT_KEY=euafhadnifuahdsbhfusbdhfsabfhsdfsidafsadfdsa

# CONNECTION_STRING=Server=localhost,1433;Database=JussaCalls2;User Id=sa;Password=Developer123@;Encrypt=True;TrustServerCertificate=True;
# http://localhost:5100/swagger/index.html

